<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DashBoard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>

    <body>
        <div class="position-relative">
            <p class="text-capitalize fs-1 fw-bold ms-3">Welcome {{username}}</p>
            <div class="text-end">
                <a href="/logout" class="btn btn-info me-5 mt-3 position-absolute top-0 end-0" role="button"
                    style="font-size: large;">Log out <i class="bi bi-box-arrow-right"></i></a>
            </div>
        </div>
        <br>
        <table class="table table-hover m-auto" style="width: 50%;">
            <thead>
                <tr>
                    <th>Sl. No</th>
                    <th>Tracker Name</th>
                    <th>Logs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody> {% if trackers|length >0 %} {% for t in trackers %} <tr>
                    <td>{{loop.index}}</td>
                    <td><a href="/tracker_details/{{t.tracker_id}}">{{t.tracker_name}}</a></td>
                    <td><a href="/new_log/{{t.tracker_id}}">Log a new event</a></td>
                    <td><a href="/edit_tracker/{{t.tracker_id}}"><i class="bi bi-pencil-square"></i> Edit/Delete
                            Tracker</a>
                    </td>
                </tr> {% endfor %} {% endif %} </tbody>
        </table> {% if trackers|length == 0 %} <div class="text-center">
            <img src="/static/notFound.jpg" alt="No image Found" class="pt-2">
        </div> {% endif %} <br>
        <div class="text-center">
            <a href="/new_tracker" class="btn btn-secondary m-2" style="font-size: larger;"><i class="bi bi-plugin"></i>
                Create a new Tracker</a>
        </div>
    </body>

</html>